    .center{
      text-align: center;
    }

    .login-title{
      margin: 0;
    }

    .margin-bottom{
      margin-bottom: 20px;
    }

    .images-login{
      max-width: 180px;
    }

    .modal-horizontal .form-group{
        display: -webkit-box;
    }

    .topmenu-logo{
      max-width: 40px;
    }

    .main-header .logo{
      font-size: 14px;
    }