      #notif{
        visibility: hidden;
        min-width: 200px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: absolute;
        z-index: 1;
        right: 1%;
        top: 80px;

              }

        #notif.show{
          visibility: visible;
          -webkit-animation:fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;

        }

        @-webkit-keyframes fadein{
          from{bottom: 0;opacity: 0}
          to{bottom: 30px;opacity: 1}
        }

        @keyframes fadein{
            from{top: 0;opacity: 0;}
          to{top: 80px;opacity: 1;}
        }


      /*  @-webkit-keyframes fadeout{
          from{bottom: 0;opacity: 0}
          to{bottom: 30px;opacity: 1}
        }
*/

        @keyframes fadeout{
            from{top: 80px;opacity: 1}
          to{top: 0px;opacity: 0}
        }

 @media screen and (max-width: 500px){
         #notif{
        visibility: hidden;
        width: 100%;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: absolute;
        z-index: 1;
        right: 1%;
        top: 100px;

              }

    

        #notif.show{
          visibility: visible;
          -webkit-animation:fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;

        }

        @-webkit-keyframes fadein{
          from{bottom: 0;opacity: 0}
          to{bottom: 30px;opacity: 1}
        }

        @keyframes fadein{
            from{top: 0;opacity: 0;}
          to{top: 100px;opacity: 1;}
        }


      /*  @-webkit-keyframes fadeout{
          from{bottom: 0;opacity: 0}
          to{bottom: 30px;opacity: 1}
        }
*/

        @keyframes fadeout{
            from{top: 100px;opacity: 1}
          to{top: 0px
      }

  }
